:root {
    --unrevealed-light-color: #A9D751;
    --revealed-light-color: #E4C29F;
    --unrevealed-dark-color: #A2D049;
    --revealed-dark-color: #D7B899;
    --highlight-color: #BEE17D;
}

.cell {
    height: calc(100vh / 20);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;

    &.border-right {
        border-right: 2px solid green;
    }

    &.border-left {
        border-left: 2px solid green;
    }

    &.border-top {
        border-top: 2px solid green;
    }

    &.border-bottom {
        border-bottom: 2px solid green;
    }

    &.unrevealed {
        cursor: pointer;

        &.light {
            background-color: var(--unrevealed-light-color);
        }

        &.dark {
            background-color: var(--unrevealed-dark-color);
        }

        &:hover {
            background-color: var(--highlight-color);
        }
    }

    &.revealed {
        &.light {
            background-color: var(--revealed-light-color);
        }

        &.dark {
            background-color: var(--revealed-dark-color);
        }
    }
}

