html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
    font-family: 'Roboto', sans-serif;
}

.h-full {
  height: 100vh;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

.sidebar-menu {
    background-color: var(--primary-color) !important;
    padding: 10px;

    .list {
        margin-top: 4rem;
        list-style: none;
        font-size: 2rem;
        color: #fff;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    &.open {
        .list {
            align-items: start;
            justify-content: start;

            i {
                margin-right: 0.5rem;
            }
        };
    }
}


.profile img {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.main-header {
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 0 0 2rem 0;
    padding: 0 2rem;
    flex-grow: 1;
    justify-content: space-between;
    background-color: var(--primary-400);
}

.main-content {
    padding: 2rem;
}

.resume-card {
    background-color: var(--gray-600) !important;
    color: #fff !important;
    padding: 0;
}

.p-card-body {

}